<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ppab1.dreamsaver">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.ppab1.dreamsaver.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.ppab1.dreamsaver.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DreamSaver"
        tools:ignore="AllowBackup">
        <activity android:name=".activity.IntroActivity"></activity>
        <activity android:name=".activity.AddUpdateActivity" />
        <activity android:name=".testing.DatabaseActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.RencanaActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WelcomeActivity" />
        <activity android:name=".testing.TestingActivity" />
        <activity android:name=".activity.MainActivity" />

        <receiver
            android:name=".reminder.DailyReminder"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver" />

        <provider
            android:name=".database.DatabaseProvider"
            android:authorities="com.ppab1.dreamsaver"
            android:exported="true"
            android:readPermission="com.ppab1.dreamsaver.READ_DATABASE"
            android:writePermission="com.ppab1.dreamsaver.WRITE_DATABASE" />
    </application>

</manifest>